$color-primary: #515070;
$color-back: #f6f6f6;
$color-highlight: #fc9073;
$font-header: 'Playfair Display', serif;
$font-reg: 'Raleway', sans-serif;

@import 'init.scss';
@import 'nav.scss';

#hero {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media (min-width: 800px) {
    align-items: center;
  }
  @media (max-width: 800px) {
    margin-left: 2em;
    flex-direction: column;
  }

  & .hero__content {
    & h1 {
      @include title();
    }
    & h2 {
      @include subtitle();
    }
  }
}
